@use "../abstract/variables" as *;

#cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.card {
  width: 300px;
  border: 1px solid $color-dark;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  background-color: transparentize($color-light, 0.5);
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card-body {
  padding: 1rem;
  color: $color-dark;
}

.card-title {
  margin: 0 0 0.5rem;
  font-size: 1.25rem;
}

.progress-container {
  background-color: transparentize($color-light, 0.5);
  border-color: $color-dark;
  border-radius: 4px;
  overflow: hidden;
  height: 12px;
  margin-top: 0.5rem;
  border: $color-dark 1px solid;
}

.progress-bar {
  height: 100%;
  background: linear-gradient(to right, $color-blue, $color-pink);
  width: 0; /* mis à jour en JS */
  transition: width 0.5s ease;
}

.cards__cta-button {
  display: inline-flex;
  align-items: center;
  margin-top: 1.5rem;
  padding: 1em 1.75em;
  border: none;
  border-radius: 4px;
  font-family: inherit;
  font-size: 1.25rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s ease, box-shadow 0.2s ease;
}

/* Modificateur pour couleur principale */
.cards-button--primary {
  background-color: $color-pink;
  color: $color-dark;

  &:hover {
    background-color: #e73370;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(255, 64, 129, 0.4);
  }
}
